In [26]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import hvplot.pandas
from scipy.stats import linregress
from citipy import citipy
from geopy.geocoders import Nominatim

In [27]:
#Upload landfall csv to notebook
clean_pd = pd.read_csv("Output_Data/project_data.csv")
clean_pd.head()

,Name,Season,Category,Max Winds (kt),Adjusted Costs,Latitude,Longitude,City
0,Alicia,1983,3,100,$9.4B,29.1,-95.1,hitchcock
1,Juan,1985,1,75,$4.3B,29.5,-91.4,patterson
2,Elena,1985,3,100,$3.8B,30.4,-89.2,long beach
3,Hugo,1989,4,120,$22.7B,32.8,-79.8,mount pleasant
4,Bob,1991,2,90,$3.5B,41.2,-71.6,charlestown

In [28]:
hpi_pd = pd.read_csv('Resources/hpi_county.csv')
hpi_pd.head()

,State,County,FIPS code,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base
0,AL,Autauga,1001,1986,.,100.00,95.59,70.96
1,AL,Autauga,1001,1987,-1.94,98.06,93.74,69.59
2,AL,Autauga,1001,1988,2.57,100.58,96.14,71.38
3,AL,Autauga,1001,1989,4.32,104.92,100.29,74.46
4,AL,Autauga,1001,1990,-0.29,104.62,100.00,74.24

In [29]:
geolocator = Nominatim(user_agent="ChrisClass")

In [32]:
Latitude = "26.3"
Longitude = "-80.3"
 
location = geolocator.reverse(Latitude+","+Longitude)

 
# Display
#print(location)
location.raw

{'place_id': 295011076,
 'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 98656702,
 'lat': '26.29998817984099',
 'lon': '-80.2980792552121',
 'class': 'highway',
 'type': 'service',
 'place_rank': 27,
 'importance': 0.04002869993133439,
 'addresstype': 'road',
 'name': 'Conservation Levee Greenway L-36',
 'display_name': 'Conservation Levee Greenway L-36, Coral Springs, Broward County, Florida, 33076, United States',
 'address': {'road': 'Conservation Levee Greenway L-36',
  'city': 'Coral Springs',
  'county': 'Broward County',
  'state': 'Florida',
  'ISO3166-2-lvl4': 'US-FL',
  'postcode': '33076',
  'country': 'United States',
  'country_code': 'us'},
 'boundingbox': ['26.2292360', '26.3554768', '-80.2985159', '-80.2977376']}